.home-text {
  text-align: center;
  margin: auto;
  width: 80%;
  padding: 40px;
}

.title-text {
    font-size: 6rem !important;
    padding: 20px 0 !important;
}

.subtitle-text {
    margin-top: 30px;
}
