<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark px-5">
  <a class="navbar-brand" href="#">
    <img src="\assets\AML-Logo.svg" width="150" height="75" alt="" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="library">Library</a>
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="account" *ngIf="isLoggedIn">Account</a>
      <a class="nav-item nav-link" href="login" *ngIf="!isLoggedIn">Login</a>
      <a class="nav-item nav-link" href="register" *ngIf="!isLoggedIn">Register</a>
      <a class="nav-item nav-link" href="#" *ngIf="isLoggedIn">Cart</a>
      <a class="nav-item nav-link logout" (click)="logout()" *ngIf="isLoggedIn">Logout</a>
    </div>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #filter>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search(filter.value)">Search</button>
  </form>
</nav>


